[Unit]
Description=Gunicorn daemon for Django app
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/django-app
Environment="PATH=/home/ubuntu/venv/bin"
ExecStart=/home/ubuntu/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 Test.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
